* {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #006400;
  --blue-color: #107e73;
  --red-color: #bf0603;
  --yellow-color: #ffd700;
  --beige-color: #f5f5dc;
  --white-color: #ffffff;
}

body {
  line-height: 2;
  background-color: #f0f0f0;
  margin: 0;
}

/* header logo, navbars, footer */
.header-1 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 100px;
  background-color: var(--primary-color);
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Ensure it stays on top */
  z-index: 5;
}
.header-1 .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-1 img {
  width: 80px;
  height: auto;
}
.header-1 h2 {
  font-size: 1.8rem;
  color: #ffff;
}
.header-1 .navbar .btn-navbar {
  color: #ffff;
  text-decoration: none;
  /* margin-left: 35px; */
}
.header-1 select:focus {
  border: none;
  outline: none;
}
.menu-icon {
  display: none;
}
.nav-list {
  display: flex;
  gap: 35px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 30px;
  text-align: center;
}
.footer h4 {
  font-size: 0.7rem;
  font-style: italic;
  color: #333333;
}

.container-1 {
  margin-top: 150px;
  width: 100%;
  height: 100%;
}

.navbar-2 {
  display: flex;
  justify-content: center;
}

.tab {
  background-color: var(--primary-color);
  color: #ffff;
  padding: 10px 60px 10px 60px;
  text-align: center;
  cursor: pointer;
  transition: background-color 1s;
}
.tab:hover {
  box-shadow: inset 0px 0px 15px 1px var(--beige-color);
}
.tab.active {
  color: #000;
  background-color: var(--yellow-color);
  border-left: 1px solid var(--blue-color);
  border-top: 1px solid var(--blue-color);
  border-right: 1px solid var(--blue-color);
  box-shadow: inset 0px 0px 15px 1px var(--beige-color);
}
.tab #tab-f2f {
  display: none;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white-color);
  padding: 0 100px 0 100px;
  box-shadow: 0px 0px 10px rgba(101, 101, 101, 0.3);
}

.content {
  display: none;
  width: 100%;
  /* height: 100%; */
  background-color: white;
  margin: 32px 0 50px 0;
}

.content.active {
  display: block;
}

/* form */
.form-content {
  display: flex;
  justify-content: center;
}
.box {
  position: relative;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 1000px;
  padding: 45px;
  border: #dddddd;
  box-shadow: 0px 0px 10px rgba(101, 101, 101, 0.3);
  gap: 20px;
  background-color: #fff;
}

.box div:nth-child(3),
.box div:nth-child(5),
.box div:nth-child(7),
.box div:nth-child(9),
.box div:nth-child(15) {
  grid-column: span 2;
}
.box div:nth-child(11),
.box div:nth-child(12) {
  grid-column: span 3;
}

.box div:nth-child(2),
.box div:nth-child(6),
.box div:nth-child(8),
.box div:nth-child(10) {
  grid-column: span 4;
}
.box div:nth-child(1),
.box div:nth-child(4),
.box div:nth-child(13),
.box div:nth-child(15),
.box div:nth-child(16),
.box div:nth-child(17),
.box div:nth-child(18) {
  grid-column: span 6;
}
.box div:nth-child(14) {
  grid-row: span 2;
}

/* .box div child */
.box label,
.box div h3 {
  font-weight: bold;
}
.box .input {
  display: flex;
  flex-direction: column;
}

/* asterisk in input fields */
.box .asterisk {
  color: var(--red-color);
}

/*box child element 1 / DATE */
.box .currentdate {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.box .currentdate input {
  border: none;
  border-bottom: 1px solid #dddddd;
}
.box .datetime {
  text-align: center;
}

/*box child element 2 / Type of appointment */
.box .input .appointment {
  width: 50%;
}

.box .col-2 {
  display: flex;
  flex-direction: row;

  border: 1px solid #dddddd;
  padding: 20px;
  gap: 20px;
}
.box .col-2 div {
  width: 100%;
}

.box .input .old_new {
  width: 100%;
}
/* Type of Consultation / H3 */
.box .col-2 div h3 {
  margin-top: 20px;
}
.box .input .radio-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.borderbox {
  margin-top: 20px;
}
.borderbox .col-2 .calendar .calendar-date input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
.borderbox .col-2 .calendar .calendar-btn .btn {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 24px;
  margin-top: 20px;
}
.borderbox .col-2 .calendar .calendar-btn .btn:hover {
  border-color: var(--blue-color);
  box-shadow: 0px 0px 10px var(--blue-color);
}

.box #complaint {
  margin-top: 20px;
}

.box .referal {
  margin-top: 20px;
}

/* Registration page submit button  */
.div-btn-submit {
  grid-column: span 6;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.div-btn-submit .btn {
  width: 150px;
  padding: 12px;
  margin-left: 20px;
  border-radius: 2px;
}
.div-btn-submit .btn:hover {
  cursor: pointer;
  transition: 0.35s;
  height: auto;
}
.div-btn-submit .btn-red:hover {
  border-color: var(--red-color);
  box-shadow: 0px 0px 10px var(--red-color);
}
.div-btn-submit .btn-green:hover {
  border-color: var(--primary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
}

/* for all fields code */
input,
select {
  border: 1px solid #dddddd;
  padding: 10px;
}
button,
input,
select,
textarea {
  border: 1px solid #dddddd;
}
textarea {
  resize: none;
}

input:focus,
select:focus,
textarea:focus {
  /* border-color: var(--primary-color); */
  box-shadow: 0px 0px 10px var(--primary-color);
}

/* EDIT RECORDS FORM */
.box .close-btn-tablet {
  display: none;
}

/* BUTTONS */
.btn {
  text-decoration: none;
  text-align: center;
  border: 1px solid #dddddd;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-green {
  background-color: var(--primary-color);
  color: #ffff;
}
.btn-green:hover {
  background-color: var(--primary-color);

  box-shadow: 0px 0px 10px var(--primary-color);
}
.btn-red {
  background-color: var(--red-color);
  color: #ffff;
  border-color: var(--red-color);
}
.btn-red:hover {
  box-shadow: 0px 0px 10px var(--red-color);
}
.btn-blue {
  background-color: var(--blue-color);
  color: #ffff;
  border-color: var(--blue-color);
}
.btn-blue:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
}
.btn-clearData {
  border: 1px solid #006400;
  background-color: inherit;
}
.btn-clearData:hover {
  box-shadow: 0px 0px 10px var(--primary-color);
}

.custom-radio,
.custom-checkbox {
  cursor: pointer;
}

.btn-div-checkbox {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  left: 5%;
  bottom: 10%;
  transform: translate(-10%, -5%);

  margin-top: 40px;
  /* gap: 16px; */
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1s ease, transform 1s ease;
}

.btn-div-checkbox.show {
  opacity: 1;
  transform: translateX(0);
}

/* TAB 2 / Pending Appointments */
table {
  margin: 0;
  padding: 0;
  line-height: 1;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}
th {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: bold;
  border-top: 1px solid #dddddd;
  white-space: nowrap;
}
td {
  text-overflow: ellipsis; /* Optionally, add ellipsis if content overflows */
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
table .action-img {
  width: 20px;
  cursor: pointer;
  margin-inline: 5px;
}
table .action-img:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
}

tr .th-check,
tr .th-check {
  width: 3%;
}

tr .th-hrn {
  width: 10%;
}
tr .th-action {
  width: 12%;
}
tr .th-contact,
tr .th-schedule {
  width: 10%;
}
tr .th-name {
  text-align: left;
  width: 28%;
}
tr .th-complaint {
  width: 27%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-bottom: 32px;
}
.selectDate-border {
  border: 1px solid var(--blue-color);

  border-radius: 18px;
  padding: 8px 14px;
  text-align: center;
  cursor: pointer;
}
.selectDate-border:focus {
  box-shadow: 0px 0px 10px var(--blue-color);
}

/* border-none class in date filters */
.content div label .border-none {
  border: none;
  border-left: 1px solid #ddd;
  padding: 8px 0 8px 5px;
  outline-style: none;
}

/* GENERAL USE */
input,
label,
textarea,
select {
  outline-style: none;
}

/* CALENDAR */
#calendarContainer {
  position: absolute;
  /* top: 50%; */
  left: 88.5%;
  transform: translateX(-88.5%);
  width: 1000px;
  background: white;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 5px;
}

.calendarMonth {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 3px;
}

#calendarTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
  background-color: white;
}

#calendarTable th,
#calendarTable td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

.calendarTable-header {
  background-color: var(--beige-color);
  font-weight: bold;
}

.calendar-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.calendar-controls button {
  padding: 5px 15px;
  cursor: pointer;
  background-color: var(--blue-color);
  color: white;
  border: none;
  border-radius: 3px;
}

.calendar-controls button:hover {
  background-color: var(--primary-color);
}

/* Make sure the calendar container's parent has position: relative */
.calendarMonth-border {
  border: 1px solid var(--blue-color);
  border-radius: 24px;
  padding: 2px 24px;
  text-align: center;
  cursor: pointer;
}

.calendarMonth-border:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
}

.weekday-checkboxes {
  position: relative;
  border: 1px solid var(--blue-color);
  cursor: pointer;
}
.weekday-checkboxes:hover {
  box-shadow: 0px 0px 10px var(--blue-color);
}

.weekday-title {
  font-weight: bold;
  padding: 10px;
}

.checkbox-group {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  /* z-index: 1000; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.checkbox-group.show {
  display: block;
}

.checkbox-item {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox-item:hover {
  background-color: #f5f5f5;
}

.checkbox-item input[type="checkbox"] {
  cursor: pointer;
}

.checkbox-item label {
  cursor: pointer;
  width: 100%;
}

.cal_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cal_header .limit {
  border: 1px solid var(--blue-color);
  padding: 5px;
  /* border-radius: 5px; */
}

.cal_header .limit .limit_form button {
  border-radius: 24px;
  border-color: var(--primary-color);
  margin-left: 12px;
}

.cal_header .limit select {
  border-radius: 5px;
  text-align: center;
}

#calendarTable_schedule td.disabled {
  background-color: #f0f0f0;
  color: #ccc;
  cursor: not-allowed;
  pointer-events: none;
}

#calendarTable_schedule td:not(.disabled) {
  cursor: pointer;
}

#calendarTable_schedule td:not(.disabled):hover {
  /* background-color: #e0e0e0; */
}

.disabled-date {
  /* color: #ccc; */
  cursor: not-allowed;
  background-color: #f5f5f5;
}

.clickable-date {
  cursor: pointer;
  background-color: #fff;
  height: 80px;
  padding: 5px;
}

.clickable-date:hover {
  color: var(--yellow-color);
  background-color: var(--primary-color);
}

/* Style for disabled dates */
.clickable-date.disabled {
  background-color: #f0f0f0;
}

.clickable-date.disabled .calendar-btn {
  opacity: 0.5;
  cursor: not-allowed;
}

.dateCell {
  background-color: #fff;
  height: 100px;
  padding: 5px;
}

/* Add styles for the date number */
.date-number {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Add styles for the button container */
.button-container {
  display: flex;
  gap: 5px;
  justify-content: center;
}

/* Style the calendar buttons */
.calendar-btn {
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8rem;
  min-width: 80px;
  transition: background-color 0.3s;
}

/* F2F button specific styles */
.f2f-btn {
  background-color: #107e73;
  color: white;
}

.f2f-btn:hover {
  background-color: #0a5c54;
  box-shadow: 0px 0px 10px var(--blue-color);
}

/* Telecon button specific styles */
.telecon-btn {
  background-color: #812828;
  color: white;
}

.telecon-btn:hover {
  background-color: #601e1e;
  box-shadow: 0px 0px 10px var(--red-color);
}

/* SEARCH TAB */
.search_scrolltab {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchDiv {
  display: inline-flex;
}

#searchQuery {
  width: 600px;
  padding: 14px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  margin: 0;
}
#searchQuery:focus {
  border-color: var(--primary-color);
  box-shadow: 0px 0px 10px var(--primary-color);
}

.searchDiv button {
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 14px;
  border-color: var(--primary-color);
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  margin: 0;
}
.searchDiv button:hover {
  box-shadow: 0px 0px 10px var(--primary-color);
}

.scrollTab {
  display: inline-flex;
  margin-bottom: 20px;
}

.scrollBtn {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  /* background-color: #f0f0f0; */
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

.scrollBtn:hover {
  /* background-color: #ddd; */
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.tableResultTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  margin-top: 2rem;
}

.scrollBtn.disabled {
  pointer-events: none;
  opacity: 0.5;
  /* cursor: not-allowed; */
}

#pendingTable,
#faceToFaceTable,
#teleconsultationTable,
#processedTable,
#cancelledTable {
  padding-top: 70px;
}

/* Adjust the padding when there are no results */
.scrollBtn.disabled {
  padding-bottom: 0;
}
