/* View / Edit Records Modal */
.viewRecordsModal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.196);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  background-color: rgba(255, 255, 255, 0.3);
}
.edit-content {
  padding-top: 50px;
  margin-bottom: 50px;
}
/* Close Button */
.close-btn {
  float: right;
  text-decoration: none;
  color: #2c2c2c;
  font-size: 1rem;
  /* margin: 24px 24px 0 0; */
  /* padding: 5px; */
  /* border: 1px solid var(--beige-color); */
  /* background-color: var(--beige-color); */
}
.close-btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 12px var(--beige-color);
}

.modal .modal-content .edit-content .form-content .box .div-btn-submit .btn {
  padding: 12px;
  line-height: 1.5;
  font-size: 1em;
}

/* Modal for button cancellation of schedule */
.confirmModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, 0.196);
}

.modal-cancelContent {
  background-color: #fefefe;
  border: 1px solid var(--primary-color);
  width: 500px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  color: #aaa;
  position: fixed;
  top: 0;
  right: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.modal-cancelContent .close:hover,
.modal-cancelContent .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-cancelContent p {
  margin: 14px 0 18px 0;
  text-align: center;
}
.modal-cancelContent div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

#viewReferalContent {
  display: none;
}
#viewReferalContent input {
  width: 100%;
}

/* SEARCH QUERY */
#result {
  display: none;
  width: 300px;
  max-height: 300px;
  border: 1px solid #ccc;
  padding: 5px 20px 5px 20px;
  background-color: var(--white-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);

  overflow: auto;
  position: absolute;
  top: 30;
  left: 50;
  z-index: 1;
}
.result-item {
  padding: 5px;
  cursor: pointer;
}
.result-item:hover {
  background-color: #f0f0f0;
}

/* POP UP MESSAGE */
#floatingAlert {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 30px;
  background-color: var(--white-color);

  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
}
.close-message {
  position: fixed;
  top: 0;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: #aaa;
  margin: 0;
  padding: 0;
}
.close-message:hover {
  color: black;
}
.alert .notice {
  float: left;
  line-height: 1;
}
.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.container-2 .alert .btn-close-footer {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
}

/* for the reschedule modal */
#rescheduleModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.196);
}

#rescheduleModal .modal-content {
  background-color: var(--white-color);
  padding: 20px;
  border: 1px solid var(--primary-color);
  /* width: 80%; */
  width: fit-content;
  min-width: 700px;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#rescheduleModal .modal-header {
  margin-bottom: 20px;
}

#rescheduleModal .modal-header h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

#rescheduleModal .close-btn {
  position: absolute;
  top: 0;
  right: 2.5%;
  transform: translate(-2.5%, 0);

  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#rescheduleModal .close-btn:hover {
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 12px var(--beige-color);
}

.rescheduleContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 28px;
}

#reschedule-date {
  text-align: center;
  width: 300px;
  border-bottom: 1px solid var(--grey-color);
  border-left: none;
  border-top: none;
  border-right: none;
}

#rescheduleModal .modal-footer {
  margin-top: 20px;
  text-align: right;
}

#rescheduleCalendarContainer {
  background: var(--white-color);
  padding: 15px;
  z-index: 1001;
  margin-top: 5px;
}

#rescheduleCalendarTable {
  width: 100%;
}

#rescheduleCalendarContainer .calendar-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#cancelReschedule {
  margin-left: 12px;
}

#setSchedule {
  display: none;
}

#setSchedule {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.196);
}

.cal_header {
  position: relative;
  width: 500px;
  padding: 20px;
  border: 1px solid var(--primary-color);

  background-color: var(--white-color);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
