* {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1em;
  line-height: 2;
}

:root {
  --primary-color: #006400;
  --blue-color: #107e73;
  --red-color: #bf0603;
  --yellow-color: #ffd700;
  --beige-color: #f5f5dc;
}

/* header logo and navbars */
.header-1 {
  position: fixed;
  top: 0;
  /* left: 0; */
  width: 100%;
  height: 100px;
  padding: 0 100px;
  background-color: var(--primary-color);
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Ensure it stays on top */
  z-index: 5;
}

.header-1 .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-1 img {
  width: 80px;
  height: 80px;
}
.header-1 h2 {
  color: #ffff;
}
.header-1 .navbar .btn-navbar {
  color: #ffff;
  text-decoration: none;
  margin-left: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  z-index: 1;

  background-color: var(--primary-color);
  color: #ffffff;
  height: 30px;

  font-weight: 100;
}

/* POP UP MESSAGE */
.alert .notice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  line-height: 1;
}
.close {
  font-size: 28px;
  cursor: pointer;
}
#floatingAlert {
  position: fixed;
  top: 30%;
  left: 38%;
  z-index: 1;
  width: 500px;
  height: 300px;
  padding: 0 30px 0 30px;
  background-color: var(--beige-color);

  border: 1px solid #fefae0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: opacity 0.5s ease;
}

.alert {
}

.alert span {
  display: block;
  margin-bottom: 15px;
}

.alert div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-2 .alert strong {
  display: block;
  margin: 30px 0;
}

.alert #message-footer button {
  position: absolute;
  bottom: 30px;
  left: 38%;
  width: 24%;
}
.container-2 .alert .btn-close {
  border: 1px solid #dddddd;
  border-radius: 5px;
  /* background-color: var(--beige-color); */
  padding: 10px;
  margin: 20px 0;
}

.container-1 {
  margin-bottom: 50px;
}

.container-2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;

  /* Push body content below header */
  margin-top: 150px;
}

/* TABS AND CONTENT */
.tabs_label {
  background-color: var(--blue-color);
  color: #ffff;
  padding: 10px;
  cursor: pointer;
}
.tabs_radio {
  display: none; /* remove check/radio */
}
.tabs_content {
  order: 1; /* all tabs button makes orderly */
  width: 100%;
  /* font-size: 0.9em; */
  display: none;
}
.tabs_radio:checked + .tabs_label {
  font-weight: bold;
  background-color: var(--yellow-color);
  color: #000;
  /* border-bottom: 2px solid #000; */
}
.tabs_radio:checked + .tabs_label + .tabs_content {
  display: block;
}

.form-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* form */
.box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 50%;
  padding: 45px;
  border: #dddddd;
  box-shadow: 0px 0px 8px rgba(0.3, 0.3, 0.3, 0.3);
  gap: 10px;
  background-color: #fff;
}

/* .box div:nth-child(14), */

.box div:nth-child(3),
.box div:nth-child(5),
.box div:nth-child(7),
.box div:nth-child(9),
.box div:nth-child(15) {
  grid-column: span 2;
}
.box div:nth-child(11),
.box div:nth-child(12) {
  grid-column: span 3;
}

.box div:nth-child(2),
.box div:nth-child(6),
.box div:nth-child(8),
.box div:nth-child(10) {
  grid-column: span 4;
}
.box div:nth-child(1),
.box div:nth-child(4),
.box div:nth-child(13),
.box div:nth-child(15),
.box div:nth-child(16),
.box div:nth-child(17),
.box div:nth-child(18) {
  grid-column: span 6;
}
.box div:nth-child(14) {
  grid-row: span 2;
}

.box .currentdate {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.box .currentdate input {
  border: none;
  border-bottom: 1px solid #dddddd;
}
.box .datetime {
  text-align: center;
}

/* .box class child */
.box label {
  font-weight: bold;
}
.box .input {
  display: flex;
  flex-direction: column;
}
.box .input .appointment {
  width: 50%;
}

.box .input .old_new {
  width: 100%;
}

.box .input .radio-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}
.box .col-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #dddddd;
  padding: 30px;
  width: 100%;
  /* background-color: #f2f2f2; */
}
.borderbox .col-2 div .radio-div div {
  margin: 5px;
}

.borderbox .col-2 .calendar .calendar-date input {
  width: 100%;
  margin-bottom: 15px;
}
.borderbox .col-2 .calendar .calendar-btn .btn {
  display: block;
  width: 100%;
  padding: 5px;
  border-radius: 24px;
}

.box .referal {
  margin-top: 20px;
}

/* Registration page submit button  */
.div-btn-submit {
  grid-column: span 6; /* Make the submit button container span the full width */
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.div-btn-submit .btn {
  width: 150px;
}
.div-btn-submit button {
  margin-left: 20px;
}

/* for all fields code */
input,
select {
  border: 1px solid #dddddd;
  padding: 10px;
}
button,
input,
select,
textarea {
  border: 1px solid #dddddd;
  border-radius: 3px;
  border-color: #dddddd;
}

.box .btn {
  padding: 16px;
}

/* EDIT RECORDS FORM */
.date-of-request-div {
  display: none;
}

/* BUTTONS */
.btn {
  text-decoration: none;
  color: #000;
  text-align: center;
  border: 1px solid #dddddd;
}
.btn-green {
  background-color: var(--primary-color);
  color: #ffff;
}
.btn-red {
  background-color: var(--red-color);
  color: #ffff;
}
.btn-blue {
  background-color: var(--blue-color);
  color: #ffff;
}

.custom-radio,
.custom-checkbox {
  cursor: pointer;
}

/* TAB 2 / Pending Appointments */
table {
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border-bottom: 0.1px solid #ddd;
  text-align: left;
}
th {
  background-color: #f2f2f2;
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

table .action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

table button,
table a {
  border: 1px solid #dddddd;
  border-radius: 20px;
  font-size: 0.9rem;
}

table button {
  width: 100px;
  padding: 7px;
}

table a {
  width: 80px;
  /* para mag-match padding sa other button */
  padding: 0.6px;
  text-align: center;
}

table .btn-blue,
table .btn-red,
table .btn-green {
  background-color: inherit;
  color: #000;
  transition: 0.4s;
}

table .btn-blue:hover {
  background-color: var(--blue-color);
  color: #ffff;
}
table .btn-green:hover {
  background-color: var(--primary-color);
  color: #ffff;
}
table .btn-red:hover {
  background-color: var(--red-color);
  color: #ffff;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto; /* Enable scroll if needed */
  backdrop-filter: blur(5px); /* Apply blur effect */
  /* semi-transparent overlay */
  background-color: rgba(255, 255, 255, 0.3);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 100%;
  /* Black w/ opacity */
  background-color: rgba(123, 123, 123, 0.4);
}
/* Close Button */
.close-btn {
  color: #2c2c2c;
  float: right;
  font-size: 28px;
  margin: 20px 20px 0 0;
}
.close-btn:hover {
  cursor: pointer;
}
.edit-content {
  margin-bottom: 70px;
}

.modal .modal-content .edit-content .form-content .box .div-btn-submit .btn {
  padding: 12px;
  line-height: 1.5;
  font-size: 1em;
}

textarea {
  resize: none;
}

/* SEARCH QUERY */
#result {
  margin-top: 5px;
  /* border: 1px solid #ccc; */
  /* max-height: 100px; */
  overflow-y: auto;
  position: absolute;
  top: 51%;
  left: 35%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* adds a shadow */
  min-width: 500px;
  z-index: 1;
  text-align: center;
}
.result-item {
  padding: 5px;
  cursor: pointer;
}
.result-item:hover {
  background-color: #f0f0f0;
}

/* CALENDAR */
.tabs_content .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
